<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haidaiban.foxlee.fragments">
    <!--for action bar tab listener min version is 11-->
    <uses-sdk android:minSdkVersion="11" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:icon"
        android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar">
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="hangzhousanqtech#fatcatnet"
            />
        <activity
            android:name="com.haidaiban.foxlee.activitys.Login_Activity"
            android:windowSoftInputMode="adjustPan|stateHidden"

            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.haidaiban.foxlee.activitys.E1_MyMoney_Activity"
            android:windowSoftInputMode="adjustPan|stateHidden"

            ></activity>
        <activity android:name="com.haidaiban.foxlee.activitys.MainTabActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            ></activity>
        <activity android:name="com.haidaiban.foxlee.activitys.Activity_PriceFill"
            android:windowSoftInputMode="adjustPan|stateHidden"
            ></activity>
        <activity android:name="com.haidaiban.foxlee.activitys.OfferMenu_Activity"></activity>

        <activity
            android:name="com.haidaiban.foxlee.activitys.LimitedTimeOffer"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"></activity>

        <activity
            android:name="com.haidaiban.foxlee.activitys.ProductDetail"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.haidaiban.foxlee.activitys.WebActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <activity
            android:name="com.haidaiban.foxlee.activitys.OrderDetails"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.haidaiban.foxlee.activitys.AcceptedOrderDetails"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.haidaiban.foxlee.activitys.Search_Activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity android:name="com.haidaiban.foxlee.rong_cloud.ConversationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.haidaiban.foxlee.rong_cloud"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>

        </activity>
    </application>


</manifest>
